<p style="font-size: 16px; font-weight: bold;">Informações sobre o destinatário:</p>
<p style="font-size: 14px; color: #333">
  <strong>Nome:</strong> {{ recipient.name }} <br />
  <strong>Rua:</strong> {{ recipient.street }},
  <strong>n.º:</strong> {{ recipient.house_number }} <br />
  <strong>Complemento:</strong> {{ recipient.complement }} <br />
  <strong>Estado:</strong> {{ recipient.state }} <br />
  <strong>Cidade:</strong> {{ recipient.city }} <br />
  <strong>CEP:</strong> {{ recipient.cep_code }} <br />
</p>
